<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tecnologia
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img src= "http://www.portafolio.co/files/article_content/uploads/2018/01/12/5a59556f3c3e7.jpeg" alt="">
    <ion-card-header>
      <ion-card-subtitle>Casa Editorial El Tiempo</ion-card-subtitle>
      <ion-card-header id="titulo">Los problemas de recibir el sueldo en criptomonedas</ion-card-header>
      
      
      
    </ion-card-header>
    <ion-card-content>
      Las criptomonedas han experimentado un repunte tras meses de descensos, lo que les da cierta credibilidad a quienes afirman que las monedas digitales son resistentes y están a punto de ser aceptadas.
    </ion-card-content>


  </ion-card>
</ion-content>
