<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Negocios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img src= "https://as01.epimg.net/meristation/imagenes/2021/08/27/betech/1630076508_611858_1630076624_noticia_normal.jpg" alt="">
    <ion-card-header>
      <ion-card-subtitle>Cesar Otero</ion-card-subtitle>
      <ion-card-header id="titulo">Si tienes alguna de estas aplicaciones, bórrala ya; están diseñadas para robarte</ion-card-header>
      
      
      
    </ion-card-header>
    <ion-card-content>
      Trend Micro descubre hasta 8 aplicaciones fraudulentas inspiradas en apps sobre criptomonedas y criptominado. Bórralas si tienes alguna de ellas..
    </ion-card-content>


  </ion-card>
</ion-content>
